<div class="accent-light no-mar">
	<div class="container ">
		<div class="row no-mar">
			<div class="col s12 l12 m12 ">
				<h3 class="center">{{info.title}}</h3>
				<p class="flow-text">{{{info.text}}} </p>
			</div>
		</div>
	</div>
</div>