<div class="container">
	<h2>Apoyan:</h2>
	<div class="row">
	<div class="col s6 m3 l3"><img class="responsive-img" src="https://apps.co/static/img/logos/mintic.svg" alt="Logotipo ministerio tic"></div>
	<div class="col s6 m3 l3"><img class="responsive-img" src="http://www.infoeventos.com.co/wp-content/themes/infoeventos/images/aliado3.png" alt="Logotipo apps punto co"></div>
	<div class="col s6 m3 l3"><img class="responsive-img" src="/img/upb.jpg" alt=""></div>
	<div class="col s6 m3 l3"><img src="http://appscounab.co/wp-content/themes/appsco/images/logo.png" alt=""></div>
		
	</div>
</div>