---
title: Disminuye costos y conoce personal increible
parallax: /img/photo/worker
###################
#main section
###################
hero:
    title: "Encuentra a los mejores practicantes"
    subtitle: "Contratar practicantes puede ahorrarte costos y ayudarte a descubrir futuros empleados valiosos, Inscribete y seleccionaremos las mejores hojas de vida para ti, es muy facil."
    img: /img/photo/worker
    btn1: 
        label: "Inscribete ya!"
        action: "#registry"
        type: "text"
        modal: false
################### 
#Navigation section
###################
nav:
 - action: #registry
   btn: true
   label: Inscribete ya!
###################
#main section
###################
description:
    title: ¿Quienes somos?
    text: Nos dedicamos acercar a los estudiantes a su vida profesional, al tiempo que facilitamos la vida al empresario. con nosotros podras descubrir lo sencillo y eficiente que es contratar a practicantes universitarios, los precios comienzan desde 0 pesos, animate!
---

<!DOCTYPE html> 
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{data.title}} | {{front.title}}</title>
	<meta name="description" content="{{data.description}}">
	{{>head}}
	<!-- CSS  -->
	{{>style}}
</head> 		
<body>
	{{>analytics}}
	{{>general/nav info=front.nav}}
	{{>landing/hero-shot-two-btns info=front.hero}}
	{{>landing/description-text info=front.description}}
	<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeI_G4r30vmuO2hjOVA8Uyn3peeAWAt6fI-chzeAkUJ5sDtwA/viewform?embedded=true" width="100%" height="2300px" frameborder="0" marginheight="0" marginwidth="0">Cargando...</iframe>

	{{>footer}}
	<script>
		$(document).ready(function(){
			$('.modal-trigger').leanModal();
			$('select').material_select();
			$('.parallax').parallax();
	    });
	</script>
	<script src="/js/min.js"></script>
	{{>microdatos}}
	{{>landing/registry-form}}
</body>
</html>