---
title: Encuentra tu práctica profesional!
parallax: /img/photo/aprendiendo
###################
#main section
###################
hero:
    title: "Obtén la práctica profesional que siempre has deseado"
    subtitle: "Déjanos tus datos de contacto, la práctica que deseas y la encontraremos por tí"
    img: /img/photo/aprendiendo
    btn1: 
        label: "Inscríbete ya!"
        action: "#registry"
        type: "text"
        modal: false
################### 
#Navigation section
###################
nav:
 - action: #registry
   btn: true
   label: Inscríbete ya!
###################
#main section
###################
description:
    title: ¿Quienes somos?
    text: Nos dedicamos a mejorar la educación universitaria mediante herramientas digitales,

    ##¿Crees que podemos ofrecer ayuda a tu universidad? has click aquí para conocer nuestra oferta para instituciones o envianos los datos de tu institución. 
---

<!DOCTYPE html> 
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{data.title}} | {{front.title}}</title>
	<meta name="description" content="{{data.description}}">
	{{>head}}
	<!-- CSS  -->
	{{>style}}
</head> 		
<body>
	{{>analytics}}
	{{>general/nav info=front.nav}}
	{{>landing/hero-shot-two-btns info=front.hero}}
	{{>landing/description-text info=front.description}}

	<iframe id="registry" src="https://docs.google.com/forms/d/e/1FAIpQLScvxLrcbfpk3BMNfSC8vyHOyDwA-4wUutB-xWqokJeA_SNP8Q/viewform?embedded=true" width="100%" height="3200px" frameborder="0" marginheight="0" marginwidth="0">Cargando...</iframe>
	{{>footer}}
	<script>
		$(document).ready(function(){
			$('.modal-trigger').leanModal();
			$('select').material_select();
			$('.parallax').parallax();
	    });
	</script>
	<script src="/js/min.js"></script>
	{{>microdatos}}
	{{>landing/registry-form}}
</body>
</html>