---
###################
#main information
###################
title: WaterPro 
description: Simulador de Ingeniería en aguas residuales 
parallax: /img/photo/water 
hero-title:  Simulador de proyectos para estudiantes de Ingeniería.
hero-subtitle: Waterpro contiene todos los elementos para que la tarea docente sea más fácil y generar en los estudiantes un conocimiento profundo sobre proyectos de ingeniería
#actions
action: Pedir una demo
sub-action: Conoce más
#main description

###################
#Mini demo section
###################
demo-description: WaterPro es un simulador de proyectos de ingeniería en agua residual, donde los estudiantes pueden poner en práctica sus habilidades en la ejecución de proyectos de manera realista mientras el profesor recibe un feedback completo de sus habilidades.
demo-img1: /img/landing/water-gif.svg
demo-img2:
demo-img3: 
###################
#Advantages section
###################
advantages-title: Ventajas de usar WaterPro

subtitle1: Estadísticas
image1: /img/icons/stadistics
description1: Conoce las habilidades específicas de cada uno de tus estudiantes, así como su desempeño dentro del simulador.

subtitle2: versátil y personalizable
image2: /img/icons/wrench
description2: Puedes elegir entre uno de nuestros casos de simulación, o puedes construir tu propio caso. 

subtitle3: Completo
image3: /img/icons/box
description3: Incluye todas las fases en la elaboración y ejecución de un proyecto en la vida real, asi como gran diversidad de elementos de diseño.

###################
#Extra section
###################
extra-title: Alcances del simulador
extra-content1: 'Tus estudiantes se verán retados a manejar adecuadamente el tiempo y los recursos asignados dentro de nuestros casos de simulación:

<h5 class="accent-text">Tiempo:</h5> <p class="flow-text">En la vida real, la planeacion y la toma de decisiones efectiva es clave, los estudiantes deberan decidir que pruebas o ensayos comprar y en que momento, teniendo en cuenta que su entrega no es instantanea.</p>

<h5 class="accent-text">Inversión:</h5> <p class="flow-text">Los estudiantes comienzan con un presupuesto limitado para ejecutar pruebas y realizar estudios. asi, antes de tomar cada decision deberan conocer los conceptos relacionados y la informacion que cierta inversión puede proveer,<span class="accent-text">un verdadero aprendizaje aplicado</span></p>'
extra-content2: 'Será la oportunidad perfecta para que tus estudiantes aprendan o demuestren habilidades en el diseño de plantas de tratamiento, en waterPRO, los estudiantes podran aprender los pros y cons, asi como metodologias de diseño de:

<ul>
	<li class="flow-text">Unidades de pretratamiento</li>
	<li class="flow-text">Tratamiento primario</li>
	<li class="flow-text">Tratamiento secundario</li>
	<li class="flow-text">Ingeniería terciario</li>
	<li class="flow-text">Manejo de lodos</li>
</ul>
'
extra-content3: 'En waterPRO, los estudiantes (o equipos) pueden competir entre si por un ranking, que se medira en base a las buenas o malas decisiones que tomen, Esto permite generar un sano ambiente competitivo y a su ves aumenta el interes del estudiante por participar.

<span class="accent-text">Has que tus estudiantes compitan entre sí para que sientan el mundo profesional cada vez más cerca!.</span>'

extra-content4: 'Los grandes ingenieros son artistas en la elaboracion de proyectos. con el simulador, podras enseñarle los procesos clave de la planeación, tales como:

<ul>
	<li class="flow-text">Identificación de problemas</li>
	<li class="flow-text">Analisis de alternativas</li>
	<li class="flow-text">Elaboracion de presupuestos</li>
	<li class="flow-text">Legislación nacional y estandares internacionales</li>
</ul>'

extra-btn1: Administración
extra-btn2: Diseño
extra-btn3: Competitividad
extra-btn4: Proyectos

###################
#Quote section
###################
quote:
    quote: Dime y olvidaré. Enseñame y recordaré. Envuélveme y aprenderé.
    autor: Benjamin Franklin
    img: /img/photo/city2
    btn: Cotiza ya!
---
<!DOCTYPE html> 
<html lang="en">
<head> 
	<meta charset="UTF-8">
	<title>{{data.title}} | {{front.title}} | {{front.description}}</title>
	<meta name="description" content="{{data.description}}">
	{{>head}}
	{{>style}}
</head>
<body>
	{{>analytics}} 
	{{>nav-landing}}
	{{!MAIN INFORMATION}}
	{{!MAIN parallax}}
	{{>landing/main-parallax}} 
    {{!MINI DEMO SECTION}}
    {{>landing/mini-demo}}
    {{!ADVANTAGES SECTION}} 
    {{>landing/advantages1}}
	{{!EXTRA SECTION}} 
	{{>landing/advantages2}}
	{{!QUOTE SECTION}}
	{{>landing/quote info=front.quote}}
    {{!INSCRIPTION MODAL}}
    {{>landing/registry-form info=front}}
	{{>footer}}
	<script src="/js/min.js"></script>
    {{>landing/script}}
	{{>microdatos}}
</body>
</html>