<footer color="accent-dark white-text">
<div class="container section">
<div class="row">
	<div class="col s12 m4 l4 right">

		<img class="responsive-img" src="{{data.logo-svg}}" alt="{{data.logo-svg}}">
	</div>
</div>
</div>
</footer>
<script src="/js/min.js"></script>