/*! Materialize Helpers
* By Fabian Enrique Gutierrez Angulo
**/
/*COLOR PALETTE*/

/*Fixed action button animation*/
.btn-floating.btn-large i {
    line-height: 57px; 
}
.fixed-action-btn{
    -webkit-transition-timing-function: ease; /* Safari and Chrome */
    -o-transition-timing-function:ease;
    transition-timing-function: ease;
   	transition: all 0.2s;
   	padding: 0px;
} 
.fixed-action-btn.hide{
	padding: 0px;
	display:block !important;
	-ms-transform: scale(0,0); /* IE 9 */
    -webkit-transform: scale(0,0); /* Safari */
    transform: scale(0,0);
}
.btn-floating.done i,.btn-floating.error i,.btn-floating.sync i{
	display: none;
}
.btn-floating.done:after, .btn-floating.error:after, .btn-floating.sync:after{
	color: white;
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
	line-height: 57px;
	font-size: 1.6rem;	
}
.btn-floating.done:after{
	content:'done';
}
.btn-floating.error:after{
	content:'error';
}
.btn-floating.sync:after{
	content:'sync';
	-webkit-animation: mdi-spin 2s infinite linear;
  	animation: mdi-spin 2s infinite linear;
  	-webkit-transform-origin: 50% 50%;
 	-moz-transform-origin: 50% 50%;
 	-o-transform-origin: 50% 50%;
  	transform-origin: 50% 50%;
}
/*menu button improvements */
nav .button-collapse i{
	position: relative;
    margin-top: 14px;
    margin-bottom: 14px;
    width: 36px !important;
    height: 36px !important;
    line-height: 36px !important;
    font-size: 24px;
}
@media screen and (max-width: 600px){
   nav .button-collapse i{
    margin-top: 10px;
    margin-bottom: 10px;
}
}
nav .button-collapse{
  width: 36px;
  height: 36px;
  text-align: center;
}
.nav-wrapper{
	padding-left: 16px;
	padding-right: 16px;
}
#logo-container{
  height: 56px;
  margin-top: 8px;
}
@media screen and (max-width: 600px){
#logo-container{
  margin-top: 3px;
} 
}
.side-nav{
  left: -0%;
}
.side-nav li{
  display: list-item;
}
#nav-mobile a:hover {
    background-color: rgba(0,0,0,0); 
}
/*OUR OWN STYLE*/
h1{
  font-size: 3em;
}
h2{
  font-size: 2em;
}
h3{
  font-size: 1.8em;
}
div.full{
  height: 1000px;
  width: 100%;
}
div.container-90{
  width: 90%;
}
nav, a.btn{
  box-shadow:none ;
  transition: all 0.8s ease;
}
a.btn{
  position: relative;
  margin: 2px;
  margin-right: 2px;
}
a.btn.active::after{
  content: '';  
  position: absolute;
  left: -34px;
  top:6px;
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
}
.dark{
  background-color: rgba(0,0,0,0.5) !important;
  border-radius:4px;
} 
.dark-80{
  background-color: rgba(0,0,0,0.8) !important;
  border-radius:4px;
} 
.landing{
  margin-top:26.700px;
  position: relative;
}
.landing img.absolute,.landing object.absolute {
  position:absolute;
}
.hidden{
  visibility: hidden;
}
.thin {
    font-weight: 200 !important;
}
.author{
  text-align: right;
}
nav{
  border-bottom: 1px solid #eceff1; 
}
footer{
  border-top: 1px solid #eceff1; 
}
#advantages img{
  max-width: 128px;
}
div.main-img{
  height: 400px;
  overflow: hidden;
  position: relative; 
  width: 100%; /* for IE 6 */
  background: url(/img/photo/aprendiendo.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
div.main-img img{
  height: 500px;
}
div.main-img .text{
  position: absolute; 
   top: 200px; 
   left: 0; 
   width: 100%; 
   padding-left: 40px;
   padding-right: 40px;
   background-color: rgba(0,0,0,0.5);
}
#extra-info a.btn img{
  width: 30px;
  top: 0px;
  left: 0px;
  position: relative;
  margin-bottom: -10px;
  margin-left:-40px;
}
#extra-info h3{
  text-transform: none;
  box-shadow: none;
}
#extra-info ul li{
  list-style-type: circle;
  margin-left: 20px;
}
#extra-mini-btn1,#extra-mini-btn2,#extra-mini-btn3,#extra-mini-btn4{
  width:180px;
  text-align: left
}