/*! Materialize Helpers
* By Fabian Enrique Gutierrez Angulo
**/
/*COLOR PALETTE*/

/*Fixed action button animation*/
.btn-floating.btn-large i {
    line-height: 57px;
}
.fixed-action-btn{
    -webkit-transition-timing-function: ease; /* Safari and Chrome */
    transition-timing-function: ease;
   	transition: all 0.2s;
   	padding: 0px;
} 
.fixed-action-btn.hide{
	padding: 0px;
	display:block !important;
	-ms-transform: scale(0,0); /* IE 9 */
    -webkit-transform: scale(0,0); /* Safari */
    transform: scale(0,0);
}
.btn-floating.done i,.btn-floating.error i,.btn-floating.sync i{
	display: none;
}
.btn-floating.done:after, .btn-floating.error:after, .btn-floating.sync:after{
	color: white;
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
	line-height: 57px;
	font-size: 1.6rem;	
}
.btn-floating.done:after{
	content:'done';
}
.btn-floating.error:after{
	content:'error';
}
.btn-floating.sync:after{
	content:'sync';
	-webkit-animation: mdi-spin 2s infinite linear;
  	animation: mdi-spin 2s infinite linear;
  	-webkit-transform-origin: 50% 50%;
 	-moz-transform-origin: 50% 50%;
 	-o-transform-origin: 50% 50%;
  	transform-origin: 50% 50%;
}
/*menu button improvements */
nav .button-collapse i{
	position: relative;
    margin-top: 14px;
    margin-bottom: 14px;
    width: 36px !important;
    height: 36px !important;
    line-height: 36px !important;
    font-size: 24px;
}
@media screen and (max-width: 600px){
   nav .button-collapse i{
    margin-top: 10px;
    margin-bottom: 10px;
}
}
nav .button-collapse{
  width: 36px;
  height: 36px;
  text-align: center;
}
.nav-wrapper{
	padding-left: 16px;
	padding-right: 16px;
}
#logo-container{
  height: 56px;
  margin-top: 8px;
}
@media screen and (max-width: 600px){
#logo-container{
  margin-top: 3px;
} 
}
.side-nav{
  left: -5%;
}
.side-nav li{
  display: list-item;
  
}
/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(./material.woff2) format('woff2');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; 
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}


